.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.app-logo {
    width: 100px;
    height: 80px;
}

.nav-container {
    font-size: large;
}
.nav-container > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container > ul > li {
    list-style-type: none;
    margin: 0px 10px;
}


.restCard {
    width: 200px;
    padding: 5px;
    margin: 5px;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
}
.restCard:hover {
    border: 1px solid brown;
    cursor: pointer;
}
.restImg {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.res-name {
    margin: 0px;
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}

.filter-btn {
    margin: 5px;
}

.shimmer-container {
    height: 300px;
    background-color: #f0f0f0;
}

.logBtn {
    padding: 10px;
}
 
.search-bar {
    display: flex;
    margin: 5px;
}

.menu-card {
    display: flex;
    justify-content: space-between;
    margin : 2% 20%;
}


.menu-img {
    border-radius: 10px;
    height: 150px;
    width: 150px;
}